  <div class="bg-nav-bar">
    <ion-row style="padding: 0px !important; margin: 0px !important;">
      <ion-col size="auto">
        <img class="logo"  src="../../assets/img/logo.svg"/>
      </ion-col>
      <ion-col>
        <input class="input-style" placeholder="Buscar..." />
      </ion-col>
      <ion-col size="1.5" style="z-index: 44; text-align: right;">
        <span class="mdi mdi-cart icon-car" style="position: relative;" >
          <div class="noti"><span class="noti-text">2</span></div>
        </span> 
      </ion-col>
    </ion-row>
  </div>