<div class="body-category">
  <ion-row style="justify-content: center">
    <ion-col size="auto"  style="text-align: center; justify-content: center">
      <div class="category-item" style="background-color:#ebaff057;"><img src="assets/img/tradicional.svg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); 
    " /></div>
      <small style="font-size: 10px;">TRADICIONAL</small>
    </ion-col>
    <ion-col size="auto"  style="text-align: center; justify-content: center">
      <div class="category-item" style="background-color: #a75f3649;"><img src="assets/img/lira.svg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); " /></div>
      <small style="font-size: 10px;">LIRA</small>
    </ion-col>
    <ion-col size="auto"  style="text-align: center; justify-content: center">
      <div class="category-item" style="background-color: #e6000052;"><img src="assets/img/hart.svg" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); " /></div>
      <small style="font-size: 10px;">CORAZÓN</small>
    </ion-col>
  </ion-row>

</div>
